.box {
	height: 100vh;
}
#side {
	background-color: #f8f8f8;
	border-right: #e7e7e7 1px solid;
	max-height: 90vh;
	overflow-y: scroll;
}
#logo {
	height: 20px;
	margin-right: 10px;
}
#body {
	opacity: 0;
}
#main {
  overflow: scroll;
  height: 90vh;
}
.content {
	padding-left: 2em;
	padding-right: 2em;
}
img {
	max-width: 100%;
}
.side-heading {
	font-size: 3vw;
}
#home-side ul li {
	margin: 1em auto;
}
.upload-img {
	margin-bottom: 1em;
	border: solid black 2px;
}
.upload-img:hover {
	border: dashed black 2px;
	box-sizing: initial;
}
#upload-canvas {
	width: 100px;
	height: 100px;
	display: none;
}
#select-canvas, #merge-canvas {
	width: 100%;
	height: 90vh;
	min-height: 300px;
	border: solid black 1px;
}
#select-tools {
	position: absolute;
	bottom: 10vh;
	display: inline-block;
	width: 50%;
	border-radius: 100px;
	left: 25%;
	padding: 0.5em 0.2em;
	background: rgb(100,100,100,0.1);
	border: solid black 2px;
}
canvas {
	background: ghostwhite;
}

/*  paul: drag and resize snippets  */
#mouse_coords{
	position: absolute;
	right:10px;
	top: 10px;
}
#merge-viewport {
    position: absolute;
		background: #666;
    width: 1000px;
		height: 750px;
    left: 0;
    top: 0;
		zoom: 1;
		transform: scale(1);
		transform-origin: 0 0;
}
#merge-viewport img.snippet{
	position: absolute !important;
}
button#merge-addpage{
	position: fixed;
	bottom: 50px;
	right: 50px;
}
